{% extends "ajax/game/town/home/frame.html.twig" %}

{% block home_content %}
    <ul class="tabs plain" x-tab-group="home-messages" x-tab-control x-tab-default="{{ subtab }}">
        <li class="tab" x-tab-id="received" id='received_tab'>
            <div class="tab-link">
                <img alt="" class="hide-desktop" src="{{ asset('build/images/icons/small_view.gif') }}">
                <span class="hide-lg hide-md hide-sm">{{ 'Erhaltene Nachrichten'|trans({},'game') }}</span>
            </div>
        </li>
        <li class="tab" x-tab-id="archives" id='archives_tab'>
            <div class="tab-link">
                <img  src="{{ asset("build/images/icons/small_archive.gif") }}" alt="" />
                <span class="hide-lg hide-md hide-sm">{{ 'Archiv'|trans({},'game') }}</span>
            </div>
        </li>
        {% if not app.user|restricted(constant('App\\Entity\\AccountRestriction::RestrictionTownCommunication')) %}
            <li class="tab" x-tab-id="write" id="new_pm_tab">
                <div class="tab-link">
                    <img src="{{ asset("build/images/icons/small_mail.gif") }}" alt="" />
                    <span class="hide-lg hide-md hide-sm">{{ 'Eine Nachricht schreiben'|trans({},'game') }}</span>
                </div>
            </li>
            {% if can_send_global_pm %}
                <li class="tab" x-tab-id="write-to-all" id="new_global_pm_tab">
                    <div class="tab-link">
                        <img src="{{ asset("build/images/icons/star.gif") }}" alt="" />
                        <span class="hide-lg hide-md hide-sm">{{ 'Schreiben Sie an alle'|trans({},'game') }}</span>
                    </div>
                </li>
            {% endif %}
        {% endif %}
    </ul>
    <div x-tab-group="home-messages" x-tab-id="received" x-tab-target>
        <div id="nonArchivedContent">
            {% if nonArchivedMessages|length == 0 %}
                <div class="help">
                    {{ 'Du hast <strong>keine neue Privatnachricht</strong> erhalten. Eine Liste aller Bürger findest du im <span class="link" x-ajax-href="{path}">Verzeichnis der Stadt</span>.'|trans({"{path}": path('town_citizens')},'game')|raw }}
                </div>
            {% else %}
                <div class="row-table messages-list">
                    <div class="row header">
                        <div class="padded cell rw-6 rw-md-12">{{ 'Titel'|trans({},'global') }}</div>
                        <div class="padded cell rw-2 hide-sm hide-md">{{ 'Autor'|trans({},'global') }}</div>
                        <div class="padded cell rw-1 hide-sm hide-md">#</div>
                        <div class="padded cell rw-3 hide-sm hide-md">{{ 'Datum'|trans({},'global') }}</div>
                    </div>
                    {% for thread in nonArchivedMessages %}
                        <div class="row small link {% if thread.new %}new{% endif %}" x-thread-id="{{ thread.id }}" x-pm-source="{{ path('home_view_thread_controller', {tid: thread.id }) }}">
                            <div class="padded cell rw-6 rw-md-12">{% if thread.new %}<img src="{{ asset("build/images/icons/small_new.gif") }}" alt="*" /> {% endif %}{% if thread.hasItems %}<img src="{{ asset("build/images/icons/small_attach.gif") }}" alt="" /> {% endif %} {{ thread.title }}</div>
                            <div class="padded cell rw-2 rw-md-6">{{ thread.sender ? (thread.anonymous ? '' : (thread.sender.user == app.user ? thread.recipient.name : thread.sender.name)) : ('Der Rabe'|trans({},'global')) }}</div>
                            <div class="padded cell rw-1">{{ thread.messages|length }}</div>
                            <div class="padded cell rw-3 rw-md-5">{{ thread.lastMessage|format_datetime('short', 'short') }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="small"><span class="link" id="mark_all_read">{{ 'Alle als gelesen markieren'|trans({},'game') }}</span> | <span class="link" id="archive_all">{{ 'Alle archivieren'|trans({},'game') }}</span></div>
            {% endif %}
        </div>
    </div>
    <div x-tab-group="home-messages" x-tab-id="archives" x-tab-target>
        <div id="archivedContent">
            {% if archivedMessages|length == 0 %}
                <div class="help">
                    {% trans from 'game' %}
                        Keine Nachricht gespeichert.
                    {% endtrans %}
                </div>
            {% else %}
                <div class="row-table messages-list">
                    <div class="row header">
                        <div class="padded cell rw-6 rw-md-12">{{ 'Titel'|trans({},'global') }}</div>
                        <div class="padded cell rw-2 hide-sm hide-md">{{ 'Autor'|trans({},'global') }}</div>
                        <div class="padded cell rw-1 hide-sm hide-md">#</div>
                        <div class="padded cell rw-3 hide-sm hide-md">{{ 'Datum'|trans({},'global') }}</div>
                    </div>
                    {% for thread in archivedMessages %}
                        <div class="row small link {% if thread.new %}new{% endif %}" x-archived-thread-id="{{ thread.id }}" x-pm-source="{{ path('home_view_thread_controller', {tid: thread.id }) }}">
                            <div class="padded cell rw-6 rw-md-12">{% if thread.hasItems %}<img src="{{ asset("build/images/icons/small_attach.gif") }}" alt="" /> {% endif %} {{ thread.title }}</div>
                            <div class="padded cell rw-2 rw-md-6">{{ thread.sender ? (thread.anonymous ? '' : thread.sender.name) : ('Der Rabe'|trans({},'global')) }}</div>
                            <div class="padded cell rw-1">{{ thread.messages|length }}</div>
                            <div class="padded cell rw-3 rw-md-5">{{ thread.lastMessage|format_datetime('short', 'short') }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    {% if not app.user|restricted(constant('App\\Entity\\AccountRestriction::RestrictionTownCommunication')) %}
        <div x-tab-group="home-messages" x-tab-id="write" x-tab-target>
            <h5>{% trans from 'game'%}Neue Nachricht{% endtrans %}</h5>
            <div class="row">
                <div class="cell padded rw-2"><span class="small">{% trans from 'game'%}Empfänger:{% endtrans %}</span></div>
                <div class="cell padded rw-6">
                    <input type="text" id="pmrecipient" disabled {% if dest_citizen is not null %}value="{{dest_citizen.name}}"{% endif %} />
                    <input type="hidden" id="item-rec" value="" />
                    <input type="hidden" id="pmidrecipient" {% if dest_citizen is not null %}value="{{dest_citizen.id}}"{% endif %}/>
                </div>
                {% if dest_citizen is null %}
                    <div class="cell padded rw-1">
                    <span class="link">
                        <img src="{{ asset('build/images/icons/small_human.gif') }}" id="show_list" />
                        <div class="tooltip normal">
                            {% trans from 'game'%}
                                Bürgerverzeichnis anszeigen
                            {% endtrans %}
                        </div>
                    </span>
                        <div id="recipient_list">
                            <div class="list">
                                {% for citizen in possible_dests|sort((a,b) => a.name|lower <=> b.name|lower) %}
                                    <div class="recipient small link" x-citizen-id="{{citizen.id}}">{{citizen.name}}</div>
                                {% endfor %}
                            </div>
                            <button id="close_list">{% trans from 'global'%}Abbrechen{% endtrans %}</button>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="cell padded">
                    <span class="small link" id="send-item-btn"><img src="{{ asset("build/images/icons/small_attach.gif") }}" alt="" /> {% trans from 'game'%}Dieser Nachricht Gegenstände beifügen{% endtrans %}</span>
                </div>
            </div>
            <div id="rows-send">
                <div class="row">
                    <div class="cell padded rw-6">
                        <div class="help">
                            {% trans from 'game'%}Klick auf die Gegenstände, die du dieser Nachricht beifügen möchtest:{% endtrans %}
                        </div>
                    </div>
                    <div class="cell padded rw-6">
                        <div class="help">
                            {% trans from 'game'%}Folgende Gegenstände werden mitgesendet:{% endtrans %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell padded rw-6">
                        {% embed "ajax/game/inventory.html.twig" with {'size': sendable_items|length, 'items': sendable_items} %}
                            {% block class %}sendable-items{% endblock %}
                        {% endembed %}
                    </div>
                    <div class="cell padded rw-6">
                        <ul class="inventory" id="sent-items">
                            <li class="category">{% trans from 'game'%}Kein Gegenstand beigefügt...{% endtrans %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% if can_send_global_pm %}
            <div x-tab-group="home-messages" x-tab-id="write-to-all" x-tab-target>
                <h5>{% trans from 'game'%}Neue globale Nachricht{% endtrans %}</h5>
            </div>
        {% endif %}
    {% endif %}
    <div id="pm-forum-content"></div>
    <div id="pm-forum-editor"></div>
    <div id="global-forum-editor"></div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        let listbtn = document.getElementById("show_list");
        if(listbtn) listbtn.addEventListener("click", function(e){
            e.preventDefault();
            document.getElementById("recipient_list").style.display = "block";
        });

        let citizenbtn = document.querySelectorAll("#recipient_list .recipient");
        if(citizenbtn){
            for (var i = 0; i < citizenbtn.length; i++) {
                citizenbtn[i].addEventListener("click", function(e){
                    e.preventDefault();
                    document.getElementById("pmrecipient").value = this.innerText;
                    document.getElementById("pmidrecipient").value = this.attributes["x-citizen-id"].value;
                    document.getElementById("recipient_list").style.display = "none";
                });
            }
        }

        let closebtn = document.getElementById("close_list");
        if(closebtn) closebtn.addEventListener('click', function(e){
            e.preventDefault();
            document.getElementById("recipient_list").style.display = "none";
        });

        let sendbtn = document.getElementById("pmsend");
        if(sendbtn) sendbtn.addEventListener('click', function(e){
            e.preventDefault();
            $.ajax.easySend( '{{ path('town_house_send_pm_controller') }}', {global: false, title: document.getElementById('pmtitle').value, 'content': document.getElementById("pmtext").value, recipient: document.getElementById('pmidrecipient').value},
                function () {
                    $.ajax.load(null, '{{ path('town_house_messages', {'subtab': 'received'}) }}', true);
                } );
        });

        let sendglobalbtn = document.getElementById("pmglobalsend");
        if(sendglobalbtn) sendglobalbtn.addEventListener('click', function(e){
            e.preventDefault();
            $.ajax.easySend( '{{ path('town_house_send_pm_controller') }}', {global: true, title: document.getElementById('pmglobaltitle').value, 'content': document.getElementById("pmglobaltext").value},
                function () {
                    $.ajax.load(null, '{{ path('town_house_messages', {'subtab': 'received'}) }}', true);
                } );
        });

        let thread_buttons = document.querySelectorAll('[x-thread-id]');
        for (let i = 0; i < thread_buttons.length; i++){
            thread_buttons[i].addEventListener('click', function(e) {
                e.preventDefault();
                e.stopPropagation();

                $.ajax.no_history().load( document.getElementById('pm-forum-content'), this.getAttribute('x-pm-source'), false )
                document.getElementById("nonArchivedContent").style.display = "none";
            });
        }

        let archived_thread_buttons = document.querySelectorAll('[x-archived-thread-id]');
        for (let i = 0; i < archived_thread_buttons.length; i++){
            archived_thread_buttons[i].addEventListener('click', function(e) {
                e.preventDefault();
                e.stopPropagation();

                $.ajax.no_history().load( document.getElementById('pm-forum-content'), this.getAttribute('x-pm-source'), false )
                document.getElementById("archivedContent").style.display = "none";
            });
        }

        let received_tab = document.getElementById('received_tab');
        if(received_tab) received_tab.addEventListener('click', function(e) {
            document.getElementById("pm-forum-editor").innerHTML = "";
            document.getElementById("pm-forum-content").innerHTML = "";
            document.getElementById("global-forum-editor").innerHTML = "";
            document.getElementById("nonArchivedContent").style.display = "";
        });

        let archives_tab = document.getElementById('archives_tab');
        if(archives_tab) archives_tab.addEventListener('click', function(e) {
            document.getElementById("pm-forum-editor").innerHTML = "";
            document.getElementById("pm-forum-content").innerHTML = "";
            document.getElementById("global-forum-editor").innerHTML = "";
            document.getElementById("archivedContent").style.display = "";
        });

        let new_pm_tab = document.getElementById('new_pm_tab');
        if(new_pm_tab) new_pm_tab.addEventListener('click', function(e) {
            document.getElementById("pm-forum-editor").innerHTML = "";
            document.getElementById("pm-forum-content").innerHTML = "";
            document.getElementById("global-forum-editor").innerHTML = "";
            $.ajax.no_history().load( document.getElementById('pm-forum-editor'), '{{ path('home_new_post_editor_controller', {type: 'pm'}) }}', false )
        });

        {% if can_send_global_pm or true %}
            let new_global_pm_tab = document.getElementById('new_global_pm_tab');
            if(new_global_pm_tab) new_global_pm_tab.addEventListener('click', function(e) {
                document.getElementById("pm-forum-editor").innerHTML = "";
                document.getElementById("pm-forum-content").innerHTML = "";
                document.getElementById("global-forum-editor").innerHTML = "";
                $.ajax.no_history().load( document.getElementById('global-forum-editor'), '{{ path('home_new_post_editor_controller', {type: 'global'}) }}', false )
            });
        {% endif %}

        {% if dest_citizen is not null %}
            document.getElementById("pm-forum-editor").innerHTML = "";
            document.getElementById("pm-forum-content").innerHTML = "";
            document.getElementById("global-forum-editor").innerHTML = "";
            $.ajax.no_history().load( document.getElementById('pm-forum-editor'), '{{ path('home_new_post_editor_controller', {type: 'pm'}) }}', false )
        {% endif %}

        let send_item_btn = document.getElementById("send-item-btn");
        if(send_item_btn) send_item_btn.addEventListener('click', function(){
            if (!confirm('{{ 'Bestätigen?'|trans({},'global')|e('js') }}'))
                return;

            this.parentElement.parentElement.style.display = "none";

            document.getElementById("rows-send").style.display = "block";

            let items = document.querySelectorAll("#rows-send .item");
            let sent = document.getElementById("sent-items");
            let keep = document.querySelector(".sendable-items");
            for (let i = 0; i < items.length; i++) {
                items[i].addEventListener('click', function(){
                    if(this.parentElement.classList.contains('sendable-items'))
                        sent.appendChild(this);
                    else
                        keep.appendChild(this)

                    const sent_items = sent.querySelectorAll(".item[x-item-id]");
                    let target_payload = [];
                    for (let i = 0; i < sent_items.length; i++)
                        target_payload.push(sent_items[i].attributes['x-item-id'].value);
                    document.getElementById('item-rec').value = target_payload.join(',')

                    if(sent.childElementCount > 1)
                        document.querySelector("#sent-items .category").style.display = "none";
                    else
                        document.querySelector("#sent-items .category").style.display = "";
                });
            }
        });

        let mark_all_read_btn = document.getElementById('mark_all_read');
        if(mark_all_read_btn) mark_all_read_btn.addEventListener('click', function(){
            $.ajax.easySend( '{{ path('town_home_mark_all_read') }}', {},
                function () {
                    $.ajax.load(null, '{{ path('town_house_messages', {subtab: 'received'}) }}', true);
                } );
        });

        let archive_all_btn = document.getElementById('archive_all');
        if(archive_all_btn) archive_all_btn.addEventListener('click', function(){
            $.ajax.easySend( '{{ path('town_home_archive_all_pm') }}', {},
                function () {
                    $.ajax.load(null, '{{ path('town_house_messages', {'subtab': 'received'}) }}', true);
                } );
        });
    </script>
{% endblock %}
