<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ app.request.locale|e('html_attr') }}" class="lang-base-{{ (app.request.locale|e('html_attr')|split('_', 2))[0] }}">
<head>
    {% block html_head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="UTF-8" />

        <!-- Tell mobile devices not to perform desktop scaling -->
        <meta name="viewport" content="width=device-width, user-scalable=no">

        <!-- Set the base URL to account for virtual mod_rewrite URLs -->
        <base target="_blank" href="{{ app.request.getBaseURL() }}">

        <!-- Set OG tags for Social Network Ads :] -->
        <meta property="og:title" content="MyHordes">
        <meta property="og:description" content="{{ 'Das Zombie Survival Game!'|trans({}, 'global')}}">
        <meta property="og:image" content="{{ absolute_url(asset('build/images/favicon.ico')) }}">
        <meta property="og:url" content="{{ app.request.uri }}">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="de_DE" />
        <meta property="og:locale:alternate" content="fr_FR" />
        <meta property="og:locale:alternate" content="es_ES" />
        <meta property="og:locale:alternate" content="en_US" />
        <meta property="og:image" content="{{ absolute_url(asset('build/images/myhordes-og.png')) }}" />

        <!-- Load CSS -->
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('prime') }}
        {{ encore_entry_link_tags('fa') }}

        {% if app.user != null and app.user.language == "ach" %}
        <script type="text/javascript">
            var _jipt = [];
            _jipt.push(['project', 'myhordes']);
        </script>
        <script type="text/javascript" src="//cdn.crowdin.com/jipt/jipt.js"></script>
        {% endif %}

        <!-- Load JS -->
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('prime') }}
        {{ encore_entry_script_tags('fa', null, '_default', {'defer': true}) }}

        <!-- Set Favicon -->
        {{ include('build/favicons.html.twig') }}

        <!-- Set page title -->
        <title>MyHordes - {{'Error {code}'|trans({'{code}': exception.statusCode}, 'errors')}}</title>
    {% endblock %}
</head>
<body {{ (theme ?? {})|data }} onclick class="{% if is_granted('ROLE_USER') %}online_body{% else %}offline_body{% endif %} {% if custom_css is defined and custom_css != '' %}{{ custom_css }}{% endif %}">
<div id="notifications"></div>
<div id="post-office">
    <div id="post-office-box">
        <div id="post-office-content"></div>
        <div id="post-office-button-overlay">
            <ul><li><img src="{{ asset('build/images/icons/b_close.png') }}" alt="(X)"></li></ul>
        </div>
    </div>
</div>
<div id="wrapper">
    <div id="header">
        <div id="header-reload-area"></div>
        <div id="postbox" class="hidden">
            <div><img src="{{ asset('build/images/icons/small_mail.gif') }}" alt=""></div>
            <div><img src="{{ asset('build/images/icons/anim_icon_mail.gif') }}" alt=""></div>
            <div id="postbox-new-msg-counter">0</div>
        </div>
        {% block header %}{% endblock %}
    </div>

    <div id="content">
        <div class="row">
            <div class="cell padded rw-10 ro-1 rw-lg-12 ro-lg-0">
                <h1 class="page-head">{{'Ein Fehler ist aufgetreten'|trans({}, 'errors')}}</h1>
                <div class="note note-critical">
                    <strong>{{ "Es ist ein Fehler aufgetreten, doch es besteht kein Grund zur Panik!"|trans({}, 'errors')|raw }}</strong>
                    <p>{{'Sollte die Statusmeldung nicht verständlich sein, kopiere sie und sende sie an unseren Technischen Support.'|trans({}, 'errors')}}</p>
                    <strong>{{ 'Fehler:'|trans({}, 'errors') }}</strong>
                    <p>{{ exception.message }}</p>
                </div>
                {% if support is not defined or support is null %}
                    <a class="support" href="https://gitlab.com/eternaltwin/myhordes/myhordes/-/issues" target="_blank"><em>{{ 'Brauchst du Hilfe?'|trans({},'help') }}</em>{{ 'Besuche unsere Technische Supportseite'|trans({},'help') }}</a>
                {% else %}
                    <a class="support" x-group-connect="oglink_{{ support.id }}" href="#"><em>{{ 'Brauchst du Hilfe?'|trans({},'help') }}</em>{{ 'Besuche unsere Technische Supportseite'|trans({},'help') }}</a>
                {% endif %}
                <h2 class="page-head">{{'**Allgemeine** Empfehlungen:'|trans({}, 'errors')|raw}}</h2>
                <ul>
                    <li>{{'**Lösche den Cache** deines Browsers.'|trans({}, 'errors')|raw}}</li>
                    <li>{{'**Lade die Seite noch einmal (je nach Browser, funktioniert das mit: CTRL + R oder F5).**'|trans({}, 'errors')|raw}}</li>
                    <li>{{'**Lösche deine alten Lesezeichen**.'|trans({}, 'errors')|raw}}</li>
                    <li>{{'Vergewissere dich, dass du mindestens **Firefox** oder **Google Chrome** **benutzt**.'|trans({}, 'errors')|raw}}</li>
                    <li>{{'**Safari, Opera, Internet Explorer** und andere Browser werden offiziell **nicht unterstützt**.'|trans({}, 'errors')|raw}}</li>
                    <li>{{'Eventuell auftretende Probleme kannst du auf unserem Supportportal melden: {error_url}'|trans({'{error_url}':'<a href="https://gitlab.com/eternaltwin/myhordes/myhordes/-/issues" target="_blank">' ~ 'Bugs melden'|trans({}, 'errors') ~ '</a>'}, 'errors')|raw}}</li>
                </ul>
            </div>

        </div>
        <noscript>
            <div class="row">
                <div class="cell padded rw-12">
                    <h1>JavaScript required</h1>
                    <p>This website requires JavaScript to work. You are seeing this page because JavaScript is either disabled or blocked in your browser.</p>
                    <p>If you are using Adblockers or Scriptblockers, please disable them to use this website.</p>
                </div>
            </div>
        </noscript>
    </div>

    <div id="footer"></div>
</div>
{% include "partials/containers.html.twig" with {} only %}
</body>
<footer {{ (theme ?? {})|data }} class="{% if custom_css is defined and custom_css != '' %}{{ custom_css }}{% endif %}">
    {% block footer %}
        <div class="row">
            <div class="padded cell footer rw-5 rw-sm-12 justify">
                {% include 'partials/project_desc.html.twig' %}
            </div>
            <div class="padded cell-small footer rw-7 rw-sm-24 center">
                {% include('partials/the_team.html.twig') with { devs: devs } only %}
            </div>
            <div class="padded cell-small footer rw-7 rw-sm-24 center">
                <div>
                    <strong>{{ 'Danke an'|trans({}, 'global') }}</strong>
                    <div class="content">
                        {% for supporter in supporters %}
                            <i>{{ supporter }}</i>{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div>
                    <strong>{{ 'Rechtliche Informationen'|trans({}, 'global') }}</strong>
                    <div class="content">
                        <a href="{{ url('legal_doc_default', {document: 'tos'}) }}">{{ 'Nutzungsbedingungen'|trans({}, 'global') }}</a><br/>
                        <a href="{{ url('legal_doc_default', {document: 'privacy-policy'}) }}">{{ 'Datenschutzerklärung'|trans({}, 'global') }}</a><br/>
                        <a href="{{ url('legal_doc_default', {document: 'imprint'}) }}">{{ 'Impressum'|trans({}, 'global') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="padded cell rw-6">
                STATE
            </div>
            <div class="padded cell rw-6">
                <div class="v">
                    {% include "web/version_info.html.twig" with {debug, version} only %}
                </div>
            </div>
        </div>
    {% endblock %}
</footer>
<script>
    (function() {
        document.getElementById('header-reload-area').addEventListener('click', function() { window.location.href = $.ajax.getBaseURL(); })
        $.html.addEventListenerAll('[x-group-connect]','click', (e,elem) => {
            e.preventDefault();
            const p = document.getElementById('postbox');
            if (p) {
                p.setAttribute('x-post-command', elem.getAttribute('x-group-connect'));
                p.click();
            } else alert('{{ 'Fehler beim Laden des Posteingangs.'|trans({},'global') }}')
        })
        {{ include('partials/window_c.js.twig') }}

        $.html.setInitParams({
            userPopupEndpoint: '{{ path('soul_tooltip') }}',
            userPopupLoadingAnimation: '{{ asset('build/images/anims/loading_wheel.gif') }}'
        })

        $.html.addEventListenerAll('#post-office','click', function(e,elem) {
            if (e.target !== elem) return;
            elem.classList.remove('visible');
            document.body.style.overflow = null;
            $.msg.togglePing(true);
            $.msg.toggleFetch(false);
            $.msg.restoreFetchEndpoint();
            $.msg.setFetchRK(null);
            $.msg.execute();
        });
        $.html.addEventListenerAll('#post-office-button-overlay>ul>li:last-child','click', function() {
            let post = document.getElementById('post-office');
            if (post) {
                post.classList.remove('visible');
                document.body.style.overflow = null;
                $.msg.togglePing(true);
                $.msg.toggleFetch(false);
                $.msg.restoreFetchEndpoint();
                $.msg.setFetchRK(null);
                $.msg.execute();
            }
        });
        $.msg.registerPingEndpoint( '{{ path('api_pm_ping') }}' );
        $.msg.registerPingCallback(data => {
            if (data.connected) {
                $.html.forEach('#postbox', e => e.classList.remove('hidden'));
                document.getElementById('postbox-new-msg-counter').innerText = data.newMessages;
                if (data.newMessages > 0) $.html.forEach('#postbox', e => e.classList.add('new-messages'));
                else $.html.forEach('#postbox', e => e.classList.remove('new-messages'));
                $.html.setTitleSegmentCount(data.newMessages);
            }
            else $.html.forEach('#postbox', e=>e.classList.add('hidden'));
        }, true);
        $.msg.registerFetchEndpoint( '{{ path('api_pm_spring') }}' );
        $.msg.toggleFetch(false);

        $.html.addEventListenerAll('#postbox:not([data-handled])','click', function() {
            let post = document.getElementById('post-office');
            if (post) {
                post.classList.add('visible');
                document.body.style.overflow = 'hidden';
                document.getElementById('post-office-content').innerText = '';

                $.msg.restoreFetchEndpoint();
                $.msg.togglePing(false);
                $.msg.toggleFetch(true);
                $.msg.setFetchRK(null);

                $.html.setTitleSegmentCount(0);

                let data = {};
                const command = document.getElementById('postbox').getAttribute('x-post-command');
                if (command) {
                    document.getElementById('postbox').removeAttribute('x-post-command');
                    data.command = command;
                }

                $.ajax.background().load( document.getElementById('post-office-content'),'{{ url('pm_view')|e('js') }}', false, data);
            }
        });
        $.html.forEach('#postbox', e => e.dataset.handled = "1");
    })();

</script>
</html>
