<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ app.request.locale|e('html_attr') }}" class="lang-base-{{ (app.request.locale|e('html_attr')|split('_', 2))[0] }}" x-ajax-landing="{{ ajax_landing }}"
      data-language="{{ (app.request.locale|e('html_attr')|split('_', 2))[0] }}"
      data-ticket="{{ ticket }}"
      data-shared-worker="{{ absolute_url(asset('shared/shared.js', 'shared-package')) }}"
      data-shared-shim="{{ absolute_url(asset('shared-shim/shared-shim.js', 'shared-shim-package')) }}"
      data-service-worker="{{ absolute_url(asset('service/service.js', 'service-package')) }}"
      data-vapid-key="{{ vapid_public }}"
      data-mercure-auth="{{ mercure_token|json_encode }}"
>
<head>
    {% block html_head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="UTF-8" />

        <!-- Tell mobile devices not to perform desktop scaling -->
        <meta name="viewport" content="width=device-width, user-scalable=no">

        <!-- Set the base URL to account for virtual mod_rewrite URLs -->
        <base target="_blank" href="{{ app.request.getBaseURL() }}">

        <!-- Set OG tags for Social Network Ads :] -->
        <meta property="og:title" content="MyHordes">
        <meta property="og:description" content="{{ 'Das Zombie Survival Game!'|trans({}, 'global')}}">
        <meta property="og:image" content="{{ absolute_url(asset('build/images/favicon.ico')) }}">
        <meta property="og:url" content="{{ app.request.uri }}">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="de_DE" />
        <meta property="og:locale:alternate" content="fr_FR" />
        <meta property="og:locale:alternate" content="es_ES" />
        <meta property="og:locale:alternate" content="en_US" />
        <meta property="og:image" content="{{ absolute_url(asset('build/images/myhordes-og.png')) }}" />

        <!-- Load CSS -->
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('prime') }}
        {{ encore_entry_link_tags('fa') }}

        {% if app.user != null and app.user.language == "ach" %}
        <script type="text/javascript">
            var _jipt = [];
            _jipt.push(['project', 'myhordes']);
        </script>
        <script type="text/javascript" src="//cdn.crowdin.com/jipt/jipt.js"></script>
        {% endif %}

        <!-- Load JS -->
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('prime') }}
        {{ encore_entry_script_tags('fa', null, '_default', {'defer': true}) }}

        <!-- Set Favicon -->
        {{ include('build/favicons.html.twig') }}

        <!-- Set page title -->
        {% if block('title') is defined %}
            <title>MyHordes - {{ block('title') }}</title>
        {% else %}
            <title>MyHordes</title>
        {% endif %}
    {% endblock %}
</head>
<body {{ (theme??{})|data }} onclick class="{% if is_granted('ROLE_USER') %}online_body{% else %}offline_body{% endif %} {% if custom_css is defined and custom_css != '' %}{{ custom_css }}{% endif %}">
<div id="partial-proxy" class="hidden"></div>
<div id="notifications"></div>
<div id="post-office">
    <div id="post-office-box">
        <div id="post-office-content"></div>
        <div id="post-office-button-overlay">
            <ul><li><img src="{{ asset('build/images/icons/b_close.png') }}" alt="(X)"></li></ul>
        </div>
    </div>
</div>
<div id="wrapper">
    <div id="header">
        <div id="header-reload-area"></div>
        <div id="postbox" {{ {'hidden': true, 'show-larger': app.user and app.user.setting( constant("\\App\\Enum\\UserSetting::LargerPMIcon") )}|classes }}>
            <div><img src="{{ asset('build/images/icons/small_mail.gif') }}" alt=""></div>
            <div><img src="{{ asset('build/images/icons/anim_icon_mail.gif') }}" alt=""></div>
            <div id="postbox-new-msg-counter">0</div>
        </div>
        {% block header %}{% endblock %}
    </div>

    <div id="content">
        <noscript>
            <div class="row">
                <div class="cell padded rw-12">
                    <h1>JavaScript required</h1>
                    <p>This website requires JavaScript to work. You are seeing this page because JavaScript is either disabled or blocked in your browser.</p>
                    <p>If you are using Adblockers or Scriptblockers, please disable them to use this website.</p>
                </div>
            </div>
        </noscript>
    </div>

    <div style="font-size: 0.6em; margin-right: 12px; margin-left: inherit; width: max-content;" class="note note-warning">
        <hordes-issue-report data-pass="{{ {'Button': 'Page Bottom'}|json_encode }}" data-selector="a" data-title="{{ 'Fehler melden'|trans({}, 'global') }}"><a href="#">{{ 'Fehler melden'|trans({}, 'global') }}</a></hordes-issue-report>
    </div>

    <div id="footer"></div>
</div>
{% include "partials/containers.html.twig" with {} only %}
</body>
<footer {{ (theme??{})|data }} class="{% if custom_css is defined and custom_css != '' %}{{ custom_css }}{% endif %}">
    {% block footer %}

        <div class="row">
            <div class="padded cell footer rw-5 rw-sm-12 justify">
                {% include 'partials/project_desc.html.twig' %}
            </div>
            <div class="padded cell-small footer rw-7 rw-sm-24 center">
                {% include('partials/the_team.html.twig') with { devs: devs } only %}
            </div>
            <div class="padded cell-small footer rw-7 rw-sm-24 center">
                <div>
                    <strong>{{ 'Danke an'|trans({}, 'global') }}</strong>
                    <div class="content">
                        {% for supporter in supporters %}
                            <i>{{ supporter }}</i>{% if not loop.last %},{% endif %}
                        {% endfor %}
                        <strong><a href="https://gitlab.com/eternaltwin/myhordes/official-assets-made-by-players">{{ 'Vielen Dank an diese Spieler für ihre künstlerischen Beiträge.'|trans({}, 'global') }}</a></strong>
                    </div>
                </div>

                <div>
                    <strong>{{ 'Rechtliche Informationen'|trans({}, 'global') }}</strong>
                    <div class="content">
                        <a href="{{ url('legal_doc_default', {document: 'tos'}) }}">{{ 'Nutzungsbedingungen'|trans({}, 'global') }}</a><br/>
                        <a href="{{ url('legal_doc_default', {document: 'privacy-policy'}) }}">{{ 'Datenschutzerklärung'|trans({}, 'global') }}</a><br/>
                        <a href="{{ url('legal_doc_default', {document: 'imprint'}) }}">{{ 'Impressum'|trans({}, 'global') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="padded cell rw-6">
                {% include "web/indicator.html.twig" with {} only %}
            </div>
            <div class="padded cell rw-6">
                <div class="v">
                    {% include "web/version_info.html.twig" with {debug, version} only %}
                </div>
            </div>
        </div>
    {% endblock %}
</footer>
<script>
    (function() {
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('header-reload-area').addEventListener('click', function() { window.location.href = $.ajax.getBaseURL(); })
            {{ include('partials/window_c.js.twig') }}

            $.html.setInitParams({
                userPopupEndpoint: '{{ path('soul_tooltip') }}',
                userPopupLoadingAnimation: '{{ asset('build/images/anims/loading_wheel.gif') }}'
            })

            $.html.addEventListenerAll('#post-office','click', function(e,elem) {
                if (e.target !== elem) return;
                elem.classList.remove('visible');
                document.body.style.overflow = null;
                $.msg.togglePing(true);
                $.msg.toggleFetch(false);
                $.msg.restoreFetchEndpoint();
                $.msg.setFetchRK(null);
                $.msg.execute();
            });
            $.html.addEventListenerAll('#post-office-button-overlay>ul>li:last-child','click', function() {
                let post = document.getElementById('post-office');
                if (post) {
                    post.classList.remove('visible');
                    document.body.style.overflow = null;
                    $.msg.togglePing(true);
                    $.msg.toggleFetch(false);
                    $.msg.restoreFetchEndpoint();
                    $.msg.setFetchRK(null);
                    $.msg.execute();
                }
            });
            $.msg.registerPingEndpoint( '{{ path('api_pm_ping') }}' );
            $.msg.registerPingCallback(data => {
                if (data.connected) {
                    $.html.forEach('#postbox', e => e.classList.remove('hidden'));
                    document.getElementById('postbox-new-msg-counter').innerText = data.newMessages;
                    if (data.newMessages > 0) $.html.forEach('#postbox', e => e.classList.add('new-messages'));
                    else $.html.forEach('#postbox', e => e.classList.remove('new-messages'));
                    $.html.setTitleSegmentCount(data.newMessages);
                }
                else $.html.forEach('#postbox', e=>e.classList.add('hidden'));
            }, true);
            $.msg.registerFetchEndpoint( '{{ path('api_pm_spring') }}' );
            $.msg.toggleFetch(false);

            $.html.addEventListenerAll('#postbox:not([data-handled])','click', function(e) {
                let post = document.getElementById('post-office');
                if (post) {
                    post.classList.add('visible');
                    document.body.style.overflow = 'hidden';
                    document.getElementById('post-office-content').innerText = '';

                    $.msg.restoreFetchEndpoint();
                    $.msg.togglePing(false);
                    $.msg.toggleFetch(true);
                    $.msg.setFetchRK(null);

                    $.html.setTitleSegmentCount(0);

                    let data = {};
                    const command = document.getElementById('postbox').getAttribute('x-post-command');
                    if (command) {
                        document.getElementById('postbox').removeAttribute('x-post-command');
                        data.command = command;
                    }

                    $.ajax.background().load( document.getElementById('post-office-content'),'{{ url('pm_view')|e('js') }}', false, data);
                }
            });
            $.html.forEach('#postbox', e => e.dataset.handled = "1");
        })
    })();
</script>
</html>
