{% extends "ajax/ajax.html.twig" %}

{% use 'ajax/game/partials/header_inventory.html.twig' with html as header_inventory_partial_html %}

{% block menu_bar %}
    {% if clock is defined and clock.attack != 0 %}
        <ul class="clock">
            <li class="town-name">{{ clock.desc }}</li>
            <li>{% if clock.towntype == 'panda' %}<span class="hardcore">{{'Pandämonium'|trans({}, 'game')}}</span> {% endif %}{% if clock.day != "" %}{{ 'Tag {day}'|trans({'{day}': clock.day}, 'game') }}{% endif %}</li>
            <li x-current-time="{{ clock.offset }}" x-no-seconds="1" x-force-hours="1"><div class="tooltip help">{{ 'Spielzeit'|trans({},'game') }}</div>{{ clock.timestamp.format('G:i') }}</li>
            <li x-countdown="{{ clock.attack }}" x-countdown-no-seconds="1" x-countdown-force-hours="1" countdown-clock="true"><div class="tooltip help">{{ 'Zeit bis zum nächsten Zombieangriff'|trans({},'game') }}</div></li>
            <li><a target="_self" href="{{ path('auto_logout') }}"><img src="{{ asset('build/images/icons/b_exit.png') }}" alt="{{ 'Logout'|trans({},'soul') }}"></a><div class="tooltip">{{ 'Logout'|trans({},'soul') }}</div></li>
        </ul>
    {% endif %}
    
    {% if rucksack is defined and clock.attack != 0 %}
        <ul id="header-rucksack-items" x-ajax-href="{{ path('help', {'name': 'inventory'}) }}" class="rucksack pointer {% if rucksack_size > 10 %}expanded{% endif %} {% if status is defined %}rucksack_status_union{% endif %}">
            {{ block('header_inventory_partial_html') }}
        </ul>
    {% endif %}

    {% if status is defined and clock.attack != 0 %}
        <ul class="status link {% if rucksack is defined %}rucksack_status_union{% endif %}" x-ajax-href="{{ path('help', {'name': 'health'}) }}">
            <li class="text">{{'Status'|trans({}, 'game')}}</li>
            {% for role in roles %}
                {# @var role \App\Entity\CitizenRole #}
                {% if not role.hidden %}
                    <li class="status{% if role.helpSection is not null %} link{% endif %}" {% if role.helpSection is not null %}x-ajax-href="{{ path('help', {'name': role.helpSection}) }}"{% endif %}>
                        <img src="{{ asset('build/images/roles/' ~ role.icon ~ '.gif') }}" alt="{{ role.label|trans({},'game') }}">
                        {% if role.name == "ghoul" and hunger > 40 %}
                            <img class="alt-hunger-bar" src="{{ asset('build/images/icons/warning_anim.gif') }}" alt="/!\" />
                        {% endif %}
                        <div class="tooltip item">
                            <h1>{{ role.label|trans({}, 'game') }}</h1>
                            {{ (role.message ?? 'Du bist der {rolename} dieser Stadt.')|trans({'{rolename}': role.label|trans({}, 'game')}, 'game')}}
                            {% if role.name == "ghoul" %}
                                <div class="alt-hunger-bar">
                                    <div><b>{{ 'Hunger:'|trans({}, 'game') }}</b></div>
                                    <div class="ghoul-hunger-container in-tooltip">
                                        <div class="ghoul-hunger-background"></div>
                                        <div class="ghoul-hunger-bar {% if hunger > 40 %}warning{% endif %}" style="width: {{ min(100,hunger) }}%"></div>
                                        <div class="ghoul-hunger-indicator" style="left: calc(40% + 1px)"></div>
                                    </div>
                                    {% if hunger > 40 %}
                                        <div class="ghoul-message"><img src="{{ asset('build/images/icons/warning_anim.gif') }}" alt="/!\"> {{"Du wirst heute Nacht sterben!"|trans({}, 'game')}}</div>
                                    {% endif %}
                                </div>
                            {%endif%}
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
            {% if banished %}
                <li class="status"><img src="{{ asset('build/images/icons/banished.gif') }}" alt="{{ 'Verbannt'|trans({},'game') }}">
                    <div class="tooltip normal">
                        <h1>{{ 'Verbannt'|trans({},'game') }}</h1>
                        {% trans from 'game' %}
                            Deine Stadt hat entschieden, dich zu verbannen. Einige Aktionen stehen dir nicht länger zur Verfügung.
                        {% endtrans %}
                    </div>
                </li>
            {% endif %}
            {% for stat in status %}
                {# @var stat \App\Entity\CitizenStatus #}
                {% if not stat.hidden %}
                    <li class="status">
                    	<img src="{{ asset('build/images/status/status_' ~ app.user.activeCitizen.mapStatusName(stat.name) ~ '.gif') }}" alt="{{ stat.label|trans({},'game') }}">
                    	{% if stat.description %}
                    	<div class="tooltip item">
                            <h1>{{ stat.label|trans({}, 'game') }}</h1>
                            {{ stat.description|trans({}, 'game')|raw }}
                    	</div>
                    	{% endif %}
                    </li>
                {% endif %}
            {% endfor %}
            {% if is_granted('ROLE_CROW') and (app.environment == 'dev' or app.environment == 'local') %}
                <li class="status">
                    <img src="{{ asset('build/images/status/status_unknown.gif') }}" alt="[ ]">
                    <div class="tooltip item">
                        <h1>{{ 'Versteckte Statuseffekte'|trans({}, 'admin') }}</h1>
                    {% for stat in status %}
                        {# @var stat \App\Entity\CitizenStatus #}
                        {% if stat.hidden %}
                            {{ stat.name }}<br />
                        {% endif %}
                    {% endfor %}
                    </div>
                </li>
            {% endif %}
            {% if roles|filter(r => r.name == "ghoul")|length > 0 %}
                <li class="status-ghoul {% if hunger > 40 %}warning{% endif %}">
                    {{ 'Hunger:'|trans({}, 'game') }}
                    <div class="ghoul-hunger-container">
                        <div class="ghoul-hunger-background"></div>
                        <div class="ghoul-hunger-bar {% if hunger > 40 %}warning{% endif %}" style="width: {{ min(100,hunger) }}%"></div>
                        <div class="ghoul-hunger-indicator" style="left: calc(40% + 1px)"></div>
                    </div>
                    {% if hunger > 40 %}
                        <div class="ghoul-message"><img src="{{ asset('build/images/icons/warning_anim.gif') }}" alt="/!\"> {{"Du wirst heute Nacht sterben!"|trans({}, 'game')}}</div>
                    {% endif %}
                    <div class="tooltip help">
                        {{ 'Diese Anzeige zeigt an, wie <strong>hungrig</strong> du als Ghul bist.<br/><strong>Wenn die rote Grenze überschritten wird, stirbst du heute um Mitternacht!</strong> Verschlinge einen Bürger (ideale Lösung) oder finde Menschenfleisch, um diesen Hunger zu verringern und zu überleben.'|trans({},'game')|raw }}
                    </div>
                </li>
            {% endif %}
        </ul>

    {% endif %}

    {% if ((ap is defined and max_ap is defined) or (bp is defined and max_bp is defined and max_bp > 0) or (pm is defined and max_pm is defined and max_pm > 0)) and clock.attack != 0 %}
    <div class="ulcont">
        {% if ap is defined and max_ap is defined %}
            <div>
                <div x-ajax-href="{{ path('help', {'name': 'getting_around'}) }}" class="link">
                    <ul class="ap">
                        <li><b class="{{ ap == 0 ? 'red' : '' }}">{{ ap }}</b><em {% if has_wound is defined and has_wound %}class="warning"{% endif %}>/{{ max_ap }}</em></li>
                    </ul>
                    <div class="tooltip help">
                        <h1>{{ 'Aktionspunkte'|trans({},'game') }}</h1>
                        <em>{% trans from 'game' %}
                                Für viele Aktionen, wie beispielsweise die Erkundung der Aussenwelt oder der Arbeit auf einer Baustelle,
                                benötigst du Aktionspunkte. Deine Aktionspunkte werden jede Nacht nach dem Angriff aufgefüllt. Außerdem
                                kannst du sie durch den Einsatz bestimmter Gegenstände sowie einmal pro Tag durch Essen und Trinken neu
                                auffüllen.
                            {% endtrans %}</em>
                    </div>
                </div>
                {% if not app.user.expert and app.user.activeCitizen.zone and ap <= ((max_ap/2)|round(1,'ceil')) %}
                    <div x-conditional-help="beyond_half_ap">
                        <p>{% trans from "help" %}
                            Achtung, du hast bereits <strong>die Hälfte deiner <span class="ap"></span></strong> verbraucht. Denke immer daran, dir genügend AP aufzuheben, um in die Stadt zurückkehren zu können!
                        {% endtrans %}</p>
                        <button x-confirm-conditional-help="beyond_half_ap">{{ 'Diese Nachricht verbergen'|trans({},'help') }}</button>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if bp is defined and max_bp is defined and max_bp > 0 %}
            <div>
                <ul class="bp">
                    <li><b class="{{ bp == 0 ? 'red' : '' }}">{{ bp }}</b><em>/{{ max_bp }}</em></li>
                </ul>
                <div class="tooltip help">
                    <h1>{{ 'Baupunkte'|trans({},'game') }}</h1>
                    <em>{% trans from 'game' %}
                            Baupunkte können in der Werkstatt und auf Baustellen verwendet werden, wo sie wie Aktionspunkte
                            zählen. Wenn möglich werden immer zuerst Baupunkte verbraucht, bevor Aktionspunkte eingesetzt
                            werden. Bedenke, dass Baupunkte nicht eingesetzt werden können wenn du erschöpft bist!
                        {% endtrans %}</em>
                </div>
            </div>
        {% endif %}
        {% if pm is defined and max_pm is defined and max_pm > 0 %}
            <div>
                <ul class="pm">
                    <li><b class="{{ pm == 0 ? 'red' : '' }}">{{ pm }}</b><em>/{{ max_pm }}</em></li>
                </ul>
                <div class="tooltip help">
                    <h1>{{ 'Mystic-Punkte'|trans({},'game') }}</h1>
                    <em>{% trans from 'game' %}
                            Diese Punkte sind exklusiv für den Schamanen reserviert.
                        {% endtrans %}</em>
                </div>
            </div>
        {% endif %}
        {% if sp is defined and max_sp is defined and (max_sp > 0 or sp > 0) %}
            <div>
                <ul class="sp">
                    <li><b class="{{ sp == 0 ? 'red' : '' }}">{{ sp }}</b><em>/{{ max_sp }}</em></li>
                </ul>
                <div class="tooltip help">
                    <h1>{{ 'Schritt-Punkte'|trans({},'game') }}</h1>
                    <em>{{ 'Mithilfe deiner Schritt-Punkte kannst du dich in der Außenwelt bewegen, ohne Aktionspunkte ausgeben zu müssen'|trans({},'game') }}</em>
                </div>
            </div>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}