{% extends "ajax/game/town/town.html.twig" %}
{% block title %}{{'Die Bürger'|trans({}, 'game')}}{% endblock %}

{% block tutorial %}
    <div x-tutorial-content="5.text2" class="toplevel text arrow-down">
        <div class="help">
            <p>{% trans from "help" %}
                Hier werden alle <strong>lebenden und ... ehemaligen Bürger</strong> deiner Stadt aufgelistet. Sogar du selbst hast hier einen Eintrag!
            {% endtrans %}</p>
            <p>{% trans from "help" %}
                Wenn du mehr über einen bestimmten Bürger erfahren willst, kannst du ihn hier anklicken. <strong>Probier es ruhig einmal aus!</strong>
            {% endtrans %}</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    {# @var citizen \App\Entity\Citizen #}
    {% set hour = "now"|date("G") %}
    <div class="row">
        <div class="cell rw-12 town-banner town-banner-houses time-{{ hour }} {% if conf.isNightTime %}night{% endif %}"></div>
    </div>

    {% include 'ajax/game/town/citizen_list_headers.html.twig'  with {active_tab: 'list'} %}

    {% if is_ghoul %}
        {% if caught_chance < 0.5 %}{% set chances = 'gering'|trans({}, 'game') %}{% else %}{% set chances = 'hoch'|trans({}, 'game') %}{% endif %}
        <div class="note warning">
            <strong><img src="{{ asset('build/images/status/status_ghoul.gif') }}" alt="" />{{'Die Chance, beim Verschlingen eines Bürgers entdeckt zu werden, ist {chances}...'|trans({'{chances}': chances}, 'game')|raw }}</strong><br />
            {{'Das Risiko basiert auf der Anzahl der Bürger in der Aussenwelt. Je mehr Bürger sich außerhalb der Stadt aufhalten, desto geringer sind die Chancen, entdeckt zu werden.'|trans({}, 'game')|raw }}
        </div>
    {% endif %}
    <div class="row-table citizens-list">
        <div class="row-flex header">
            <div class="padded cell factor-1 stretch left">{{ 'Bürger'|trans({},'game') }}</div>
            <div class="padded cell factor-0 stretch right" style="flex-basis: 80px">
                {{ 'Def.'|trans({},'game') }}
                {{ help_btn('Zeigt die Hausverteidigung an.'|trans({},'game')) }}
            </div>
            <div class="padded cell factor-0 stretch right" style="flex-basis: 75px">{{ 'Draußen?'|trans({},'game') }}</div>
        </div>

        {% set wrapped_citizens = citizens %}
        {% if town.strangerEnabled %}
            {% set wrapped_citizens = wrapped_citizens|merge([{
                'stranger': true,
                'citizen': { 'alive': town.strangerPower > 0, 'alias': null, 'name': 'Mysteriöser Fremder'|trans({}, 'game'), 'survivedDays': 0, 'rankingEntry': {'end': to_date('now')} }
            }]) %}
        {% endif %}

        {% for citizenInfo in wrapped_citizens|sort((a,b) => (a.citizen.alive == b.citizen.alive) ? ((a.citizen.alive) ? (a.citizen.alias != null ? a.citizen.alias : a.citizen.name)|lower <=> (b.citizen.alias != null ? b.citizen.alias : b.citizen.name)|lower : (b.citizen.survivedDays <=> a.citizen.survivedDays ?: b.citizen.rankingEntry.end <=> a.citizen.rankingEntry.end)) : b.citizen.alive <=> a.citizen.alive) %}
            {% if citizenInfo['stranger'] is defined %}
                {% if town.strangerEnabled %}
                    <div class="row-flex stretch" style="max-height: 100px;">
                        <div class="avatar hide-md hide-sm small ua-{{ random(0,9) }} factor-0" style="flex-basis: 92px;background: url('{{ asset('build/images/forum/empty_avatar.gif') }}') center/cover no-repeat;">&nbsp;</div>
                        <div class="cell factor-0 citizen-{{ town.strangerPower > 0 ? 'online' : 'dead' }}" style="flex-basis: 8px;">&nbsp;</div>

                        <div class="padded cell factor-1 small content-center-vertical citizen-box citizen-box-name">
                            <div>
                                <div>
                                    <div>
                                        {% if town.strangerPower > 0 %}
                                            <img alt="" src="{{ asset('build/images/professions/stranger.gif') }}" />
                                        {% else %}
                                            <img alt="{{ 'Tot!'|trans({},'game') }}" src="{{ asset('build/images/professions/death.gif') }}" />
                                            {% if citizen.home.recycling >= 15 %}
                                                <img alt="{{ 'Tot!'|trans({},'game') }}" src="{{ asset('build/images/icons/home_recycled.gif') }}" />
                                            {% endif %}
                                        {% endif %}
                                        <a class="username undecorated" style="word-break: break-word">{{ 'Mysteriöser Fremder'|trans({}, 'game') }}</a>
                                    </div>
                                    {% if town.strangerPower <= 0 %}
                                        <span>{{ 'Dieser Bürger hat keine letzten Worte hinterlassen ...'|trans({}, 'game') }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if town.strangerPower > 0 %}
                            <div class="padded cell factor-0 citizen-box" style="flex-basis: 80px">
                                <img alt="" src="{{ asset('build/images/professions/void.gif') }}" />
                                <span class="citizen-defense"> -- </span>
                            </div>
                            <div class="padded cell factor-0 small right citizen-box location" style="flex-basis: 75px;">
                                {{ "In der Stadt"|trans({},'game') }}
                            </div>
                        {% else %}
                            <div class="padded cell factor-0 hide-md hide-sm small citizen-box" style="flex-basis: 155px;">
                                <em>{{ 'Leere Truhe'|trans({},'game') }}</em>
                                <ul class="inventory borderless"></ul>
                                <div class="tooltip normal">
                                    <strong class="warning">{{'Todesursache'|trans({}, 'game')}}</strong> : {{ 'Unbekannte Todesursache'|trans({}, "game") }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% else %}
                {% set citizen = citizenInfo.citizen %}
                {# @var \App\Entity\Citizen citizen  #}
                <div class="row-flex stretch pointer{% if citizen == me%} me{% endif %} {{ hook('additionalCitizenRowClass', citizen) }}" {% if not app.user.expert%}x-advance-tutorial="5.text2>5.text3"{% endif%} style="max-height: 100px;">
                {% include "ajax/soul/playeravatar.html.twig" with {user: citizen.user, small: true, background: true, classes: ['cell','factor-0','hide-md','hide-sm'], attributes: {style: 'flex-basis: 92px', 'x-ajax-href': path('town_visit', {id: citizen.id}) }} only %}
                <div class="cell factor-0 citizen-{{ citizen.alive ? (citizen.online ? 'online' : 'offline') : 'dead' }}" style="flex-basis: 8px;" x-ajax-href="{{ path('town_visit', {id: citizen.id}) }}">&nbsp;</div>
                
                <div class="userCell padded cell factor-1 small content-center-vertical citizen-box {% if citizen == me%} citizen-box-name-me {% else %} citizen-box-name {% endif %}" x-visit-path="{{ path('town_visit', {id: citizen.id}) }}"  x-citizen-id="{{citizen.id}}">
                    <div style="max-height: 100px">
                        <div style="display: inline">
                            {% if citizen.alive %}
                                <img alt="{{ citizen.profession.label|trans({},'game') }}" src="{{ asset('build/images/professions/' ~ citizen.profession.icon ~ '.gif') }}" />
                                {% for role in citizen.roles %}
                                    {% if not role.secret and not role.hidden %}
                                    <span>
                                        <img alt="" src="{{ asset('build/images/roles/' ~ role.icon ~ '.gif') }}" />
                                        <div class="tooltip">{{'Diese Bürger is der {role} der Stadt'|trans({'role': role.label|trans({'ref': citizen}, 'game'), 'ref': citizen}, 'game')}}</div>
                                    </span>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <img alt="{{ 'Tot!'|trans({},'game') }}" src="{{ asset('build/images/professions/death.gif') }}" />
                                {% if citizen.home.holdsBody %}
                                    <div class="inline-block">
                                    <img alt="{{ 'Leiche nicht beseitigt!'|trans({},'game') }}" src="{{ asset('build/images/icons/small_warning.gif') }}" />
                                        <div class="tooltip normal"><span class="warning">{{'Der Leichnam von {citizen} wurde nicht zerstört.'|trans({'{citizen}': citizen.name}, 'game')}}</span> {{'Es ist gut möglich, dass er diese Nacht aufersteht und versuchen wird, uns anzugreifen.'|trans({}, 'game')}}</div>
                                    </div>
                                {% endif %}
                                {% if citizen.home.recycling >= 15 %}
                                    <img alt="{{ 'Tot!'|trans({},'game') }}" src="{{ asset('build/images/icons/home_recycled.gif') }}" />
                                {% endif %}
                                {% if citizen.hasEaten %}
                                    <div class="inline-block">
                                        <img alt="" src="{{ asset('build/images/professions/cannib.gif') }}" />
                                        <div class="tooltip normal">
                                            {{'{citizen} hat einen Teil seines Heißhungers gestillt, indem er Teile seiner Mitbürger gegessen hat. Um sicherzustellen, dass so etwas nicht noch einmal passiert, übergieße die Verstorbenen das nächste Mal mit Wasser...'|trans({'{citizen}':citizen.name}, 'game')}}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% include 'ajax/soul/playername.html.twig' with {user: citizen.user, tag: 'a', additional_classes: [
                                'undecorated',
                                citizen == me ? 'citizen-label-name-me' : null,
                            ]} only %}
                            {% if citizen.alive %}
                                {% if citizen.banished %}
                                    <div class="inline">
                                        <img alt="" src="{{ asset('build/images/icons/banished.gif') }}" />
                                        <div class="tooltip help">
                                            {{ 'Dieser Bürger wurde aus der Gemeinschaft verbannt.'|trans({},'game') }}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if citizen.profession.heroic %}
                                    <img alt="" src="{{ asset('build/images/professions/hero.gif') }}" />
                                {% else %}
                                    <img alt="" src="{{ asset('build/images/professions/void.gif') }}" />
                                {% endif %}
                            {% endif %}
                        </div>
                        <div style="display: inline">
                            {% if citizen.alive %}
                                <span class="small" style="color: #ffe0c0">{{ citizen.home.description }}</span>
                            {% else %}
                                {% if citizen.lastWords is null %}
                                    <span>--</span>
                                {% elseif citizen.lastWords is empty %}
                                    <span>{{ 'Dieser Bürger hat keine letzten Worte hinterlassen ...'|trans({}, 'game') }}</span>
                                {% else %}
                                    <b>{{"Letzte Worte:"|trans({}, 'game')}}</b> {{ citizen.lastWords|replace({'{gotKilled}': '...der Mörder .. ist.. IST.. AAARGHhh..'|trans({},'game')}) }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% include "ajax/game/town/chest-tooltip.html.twig" %}
                </div>
                {% if citizen.alive %}
                    <div class="padded cell factor-0 citizen-box" x-ajax-href="{{ path('town_visit', {id: citizen.id}) }}" style="flex-basis: 80px">
                        {% include "ajax/game/town/chest-tooltip.html.twig" %}
                        <img alt="{{ citizen.home.prototype.level }}" src="{{ asset('build/images/home/' ~ citizen.home.prototype.icon ~ '.gif') }}" />
                        <span class="citizen-defense">{% if citizenInfo.defense > 0 %} {{ citizenInfo.defense }} pts {% else %} -- {% endif %}</span>
                    </div>
                    <div class="padded cell factor-0 small right citizen-box location" x-ajax-href="{{ path('town_visit', {id: citizen.id}) }}" style="flex-basis: 75px;">
                        {% include "ajax/game/town/chest-tooltip.html.twig" %}
                        {% if not citizen.zone %}
                        {{ "In der Stadt"|trans({},'game') }}
                    {% else %}
                        {% if town.chaos %}
                            {{ "Ja"|trans({},'game') }}
                        {% else %}
                            {% if (citizen.zone.x == 0) and (citizen.zone.y == 0) %}
                                {{ "Am Stadttor"|trans({},'game') }}
                            {% else %}
                                [{{ citizen.zone.x }},{{ citizen.zone.y }}]
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    </div>
                {% else %}
                    <div class="padded cell factor-0 hide-md hide-sm small citizen-box" style="flex-basis: 155px;" x-ajax-href="{{ path('town_visit', {id: citizen.id}) }}">
                        {% if citizen.home.chest.items|filter(i => i.prototype.hideInForeignChest == false)|length == 0 %}
                            <em>{{ 'Leere Truhe'|trans({},'game') }}</em>
                        {% endif %}
                        <ul class="inventory borderless">
                            {% for item in citizen.home.chest.items|filter(i => i.prototype.hideInForeignChest == false) %}
                                {# @var \App\Entity\Item item #}
                                {% if (citizen == me or not item.prototype.hideInForeignChest) %}
                                    {% embed "ajax/game/item.html.twig" with {'item': item, 'no_id': true} %}{% endembed %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <div class="tooltip normal">
                            <strong class="warning">{{'Todesursache'|trans({}, 'game')}}</strong> : {{ citizen.causeOfDeath.label|trans({}, "game") }}
                        </div>
                    </div>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="row">
        <div class="padded cell rw-12 right"><a class="small" href="#" x-ajax-href="{{ path('town_house_dash') }}">{{ 'Meine persönliche Nachricht ändern'|trans({},'game') }}</a></div>
    </div>

    <div class="cell padded center prof-list">
        {% for elem in prof_count %}
            <span class="prof">
                <img alt="{{ elem[1].label|trans({},'game') }}" src="{{ asset('build/images/professions/' ~ elem[1].icon ~ '.gif') }}" />
                <em>{{ elem[1].label|trans({},'game') }}</em> x {{ elem[0] }}
            </span>
        {% endfor %}
        {% if town.strangerPower > 0 %}
            <span class="prof">
                <img alt="" src="{{ asset('build/images/professions/stranger.gif') }}" />
                <em>???</em> x {{ town.strangers }}
            </span>
        {% endif %}
        {#
        {% if death_count > 0 %}
            <span class="prof">
                <img alt="{{ 'Tot'|trans({},'game') }}" src="{{ asset('build/images/professions/death.gif') }}" />
                <em>{{ 'Tot'|trans({},'game') }}</em> x {{ death_count }}
            </span>
        {% endif %}
        #}
        <span class="prof">
            <img alt="" src="{{ asset('build/images/icons/small_human.gif') }}" /> <span class="citizen_count">{{ "{citizens} Bürger"|trans({ '{citizens}': citizens|length + town.strangers - death_count }, 'game') }} {% if death_count > 0 %}<em>(+ {{ '{deads} Tot'|trans({'{deads}': death_count},'game') }})</em>{% endif %}</span>
        </span>
    </div>

{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        //This allows the username box to take precedence over the user cell, so that you can click on username
        //to open user tooltip, or on the cell to open house
        $.html.addEventListenerAll('.userCell', 'click', (e, elem) => {
            let path = elem.getAttribute('x-visit-path');
            let user_id = elem.getAttribute('x-citizen-id');
            $.ajax.load(null, path, true, {"id": user_id});
        });
    </script>
{% endblock %}
